<%= form_for(@realtor) do |f| %>
  <% if @realtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realtor.errors.count, "error") %> prohibited this realtor from being saved:</h2>

      <ul>
      <% @realtor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
