<h1>Listing realtors</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @realtors.each do |realtor| %>
  <tr>
    <td><%= link_to 'Show', realtor %></td>
    <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
    <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Realtor', new_realtor_path %>
